@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrosel.css");
@import url("styles/topico.css");
@import url("styles/contato.css");
@import url("styles/rodape.css");


:root{

--cor-de-fundo: #EBECEE;
--cor-do-card: #ffffff;
--cor-laranja: #EB9B00;
--azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
--fonte-principal: "poppins";
--cor-azul: #002f52;
--fonte-secundaria: "Josefin Sans";
--cor-preto: #000000;
--cor-cinza: #474646;
--cinza-claro: #858585;


}

body{

    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;

}

.container__imagem{

    padding: 1em;
}

